body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:darkslateblue;
    text-align: center;
}

#tiles {
    height: 400px;
    width: 400px;
    border: 10px solid black;
    background-color: lightblue;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    cursor: crosshair;
}

/* added a div to see what my boxes would look like */
/* was doing math with the pixels but didnt look right, so i went with % to get the grid to fill the container*/
#tiles div {
    width: 11.87%;
    height: 11.87%;
    border: 1px solid rgb(158, 77, 7);

    /* adding text style when you reveal the box */
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    color: #ff83ff;
    font-size: 4vmin;
    letter-spacing: 0.5vmin;
}

#tiles>div:hover {
    background-color: #ff83ff;
}

/* needs a class to show the tile has already been clicked */

.tile-clicked {
    background-color: #099;
}

/* need to classify "hint" with colors, there could be up to 8 spaces where there could be minds! */
.m1 {
    color: darkmagenta;
}

.m2 {
    color: #00004f;
}

.m3 {
    color: darkred;
}

.m4 {
    color:burlywood;
}

.m5 {
    color:darkseagreen;
}

.m6 {
    color: white;
}

.m7 {
    color: #7435d2;
}

.m8 {
    color: #82ff17;
}

button {
    margin-top: 3vmin;
    padding: 2vmin;
    font-size: 3vmin;
    background-color: #ff83ff;
    color: black;
    border: 0.4vmin solid;
    cursor: pointer;
    border-radius: 40%;

}